.sec__content {
  max-width: 280px;

  &--template-1 {
    color: #262626;
    position: relative;
    top: 120px;
    left: 40px;
  }
  &--template-2 {
    color: #b2b2b2;
    position: relative;
    left: 40px;
    bottom: 40px;
  }
  &--template-3 {
    color: #b2b2b2;
    position: absolute;
    left: 40px;
    bottom: 40px;
  }
  &--template-6 {
    color: #262626;
    position: absolute;
    top: 120px;
    left: 40px;
  }
}
