.sec__title {
  line-height: 32px;
  letter-spacing: 0.5px;
  font-size: 25px;
  width: 100%;

  &--template-1 {
    color: #262626;
    position: relative;
    left: 40px;
    top: 40px;
  }
  &--template-2 {
    color: #b2b2b2;
    position: relative;
    top: 40px;
    right: 40px;
    text-align: end;
  }
  &--template-4 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  &--template-6 {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
